@model AssignmentMVC.Models.ContactInfo
<br/>
<h1>@ViewBag.Title</h1>

<h4>Name: @Model.FirstName @Model.LastName</h4>
<h4>Adress: @Model.Adress</h4>
<h4>City: @Model.ZipCode @Model.City </h4>
<h4>Mobile: @Model.Mobile </h4>
<h4>Email: @Model.Email </h4>


