@*@model AssignmentMVC.Models.People*@

@model  AssignmentMVC.ViewModels.UsersViewModel

@*@model AssignmentMVC.Models.ApplicationUser*@

<h5> @ViewBag.MessagePartial  </h5> 

    <li class="list-group-item col-sm-6"> @Model.FirstName @Model.LastName ; @Model.Email ; @Model.City ; @Model.Country </li>
    <li class="list-group-item">
       @Html.ActionLink("Delete", "Delete", "People", new { search = Model.Email }, null)
    </li>






