@model AssignmentMVC.Models.People

<h5> @ViewBag.MessagePartial  </h5> 

    <li class="list-group-item col-sm-6"> @Model.Name ; @Model.PhoneNumber ; @Model.City </li>
    <li class="list-group-item"> 
        @Html.ActionLink("Delete", "Delete", "People", new { search = Model.Name }, null)
    </li>



