
@model List<AssignmentMVC.Models.People>
@{
    var CurrentList = Model;
}
<h1>People</h1>

<h4>List of peoples: </h4>

<h4>@ViewBag.Message</h4>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone number</th>
                <th>City</th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m[i].Name, new { @readonly = "readonly" })
                    </td>
                    <td>

                        @Html.TextBoxFor(m => m[i].PhoneNumber, new { @readonly = "readonly" })

                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[i].City, new { @readonly = "readonly" })
                    </td>

                    <td>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                @Html.ActionLink("Delete", "Delete", "People", new { id = i }, null)
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h4>Search:</h4>

@using (Html.BeginForm("SearchPeople", "People", FormMethod.Post))
{
    <input name="Search" class="form-control" />
    <br />
    <input type="submit" value="Search" class="btn btn-sm btn-info" />
}

<br />
<h4>Add person:</h4>
@using (Html.BeginForm("AddPeople", "People", FormMethod.Post))
{
    <p> Enter name:</p>
    <input name="name" class="form-control" />
    <br />
    <p> Enter phonenumber:</p>
    <input name="phoneNumber" class="form-control" />
    <br />
    <p> Enter city:</p>
    <input name="city" class="form-control" />
    <br />
    <input type="submit" value="Add" class="btn btn-sm btn-info" />
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>




